<html>
  <head>
     
      </head>
  <body>
    <div class="row hd">
      <div class="col-md-8">
       <div>
           <h1>SCM</h1>
       </div>
      </div>
      
      <div class="col-md-1 menus" style="padding-top: 12px; padding-left: 43px;">
        <a class="signup" href="#">Home</a>
            
      </div>
      <div class="col-md-1 menus" style="padding-top: 12px;">
          <a class="signup" href="#">Aboutus</a>
              
        </div>
        <div class="col-md-1 menus" style="padding-top: 12px;">
            <a class="signup" href="#">Contact</a>
                
          </div>
          <div class="col-md-1 menus" style="padding-top: 12px;">
              <a class="signup" routerLink="/login">Login</a>
                  
            </div>
  
  </div>
   
    <router-outlet></router-outlet>

    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; SCMdaily 2017</p>
        </div>
        <!-- /.container -->
      </footer>

</body>
</html>