
<div class="container hari" style="background-image:url('/assets/images/scm1.jpeg');">
    <div class="row">
        <div class="form_bg">
            <form routerLink="/Dashboard">
                 <h2 class="text-center">Login</h2>
                <br/>
                <div class="form-group">
                    <input type="email" class="form-control" id="userid" placeholder="User id">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                
                    </div>
                    <br/>
                   <div class="align-center">
                <button type="submit" class="btn btn-default" id="login">Login</button>
                    </div>
            </form>
        </div>
    </div>
</div>

        
        
        
        
        
        

