.adjust{

    width: 90%;

}

.dem{
    font-family: "Courier New";
    margin-bottom: 25px;
}

.dems {
    margin-right: 79px;
    margin-top: 49px;
}

.bts {
    margin-left: 196px;
    margin-top: 23px;
    color: white;
    background-color: #2e6da4;
    border-color: #ccc;
    font-size: 18px;
}

.bts:hover {
    background-color: #ccc;
    color: black;
}
.result{
    margin-top: 11pc;
    margin-left: 17pc;
    font-family: "Comic Sans MS";
    padding-right: 22pc;
}