<nav class="navbar navbar-default hcolor">
  <div class="container-fluid size">
    <div class="navbar-header">
      <a class="navbar-brand text" href="#">SCM</a>
    </div>
    <a href="/SCM/home" class="pull-right text2">logout</a>
  </div>
</nav>
<div class="row">
  <div class="col-md-2 dem">
    <div class="vertical-menu">
      <a href="Dashboard/users">Users</a>
      <a href="Dashboard/products">Products</a>
      <a href="/products">Profile</a>
      <a href="">SCM Guide</a>
  
    </div>   
  </div>
  <div class="col-md-10 users">
<router-outlet></router-outlet>
  </div>
</div>

